@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sanchez:ital@0;1&display=swap')

$purple: #9900AB
body
	font-family: 'Montserrat', sans-serif
	// font-family: 'Sanchez', serif
.title
	font-size: 48px
	text-align: center
	border-bottom: 1px solid #eaeaea
	margin: 0 auto 2vw
	padding: 0.5em
	box-sizing: border-box
	line-height: 1
	max-width: calc(1400px - 4vw)

header
	.header-sell
		background-color: #444
		width: 100%
		font-size: 1em
		padding: 1em 0
		text-align: center
		color: #fff
		z-index: 99998
		box-shadow: 0 1px 1em rgba(0,0,0,.2)
		a
			color: #fff
			text-decoration: underline
	.header-main
		display: flex
		justify-content: space-between
		.logo
			font-family: 'Lexend Peta', sans-serif
			font-size: 20px
		.telephone
			text-decoration: none
			color: black
			.telephone-num
				margin-left: 0.75rem
				white-space: nowrap
				font-size: 1rem
				line-height: 1.5rem
		.form-control
			width: 450px
		.list-search
			position: absolute
			z-index: 999
			background-color: white
			width: 450px
			overflow-y: scroll
			height: 400px
			padding-top: 20px
			.p-right
				position: absolute
				cursor: pointer
				right: 0
				top: 0
			.link-search
				text-decoration: none

				h5
					font-size: 18px
				img
					width: 100px
					height: 100px
				.link-search::hover
					background-color: red
		.account-menu
			list-style: none
			.account-menu__link
				color: black
				text-decoration: none
				.cart-amount
					text-align: center
					font-weight: 400

	nav
		margin: 0
		padding: 0
		list-style: none
		display: inline
		a
			display: inline-block
			line-height: 40px
			padding: 0 1em
			margin: 0 10px
			text-decoration: none
			color: inherit
			transition: .4s
			:hover
				color: #577f67
		.home
			box-shadow: 0 -2px 0 #577f67 inset
			color: #fff
			background: #577f67
			.logo-header
				position: relative
				bottom: -7px

.welcome
	padding: 100px 0
	background-image: url(https://images.ctfassets.net/dvf03q5b4rnw/7mTcYNMpwqBl6ynrk2yMKI/dcbe35d1c81c23c9f0d6fad4dfbd8466/BS_HP_HERO_PHASE_1_END_OF_SEASON_SALE_-_UP_TO_50-_MAY_22_copy_2__1_.jpg?w=2000&h=1200&q=80)
	h2, h3
		color: white
.category-list
	padding: 60px 0
	.list
		display: flex
		justify-content: space-between

.quest
	background: #f5f5f5
	border-radius: 12px
	padding: 40px
	display: flex
	justify-content: space-between
	margin-top: 60px
	h2
		font-size: 22px
		line-height: 140%
		color: #2b3244
		margin-bottom: 15px

	p
		font-size: 20px
		line-height: 160%
		color: #2b3244

	.number
		font-family: 'stol-reg'
		font-size: 28px
		line-height: 34px
		text-align: right
		color: #2b3244
		display: block

	.quest-text
		font-size: 12px
		line-height: 14px
		color: #9a9a9a
		text-align: end
.comment
	img
		width: 100px
		border-radius: 20px

		&__ava
			display: flex

		&__name
			font-weight: 500

		&__status

		&__review
			background-color: #e5e5e5
			border-radius: 15px
			padding: 25px

.product
	.card
		border: 1px solid #577f67
		.card-title
			font-size: 20px
			color: #577f67
		// color: #444
			font-weight: 600
			font-style: normal
			text-decoration: none
		.card-price
			font-size: 18px
			color: #444
			font-weight: normal
			font-style: normal
			text-decoration: none
			span
				font-weight: 500
				color: #577f67
		img
			height: 250px
		.button-size
			font-size: 16px

.product__item
	padding: 50px 0
	.border
		border: 1px solid grey
	.titles
		font-style: normal
		font-weight: 500
		font-size: 32px
		line-height: 39px
		color: #000000
	.price
		font-size: 23px
	img
		width: 400px
	.info
		border: 1px solid gray
	.product-cart

		font-weight: 400
		.price
			color: #577f67
			font-weight: 500
		.button
			margin: 10px 15px
			padding: 0px 7px
			font-size: 20px
			background-color: white
			border-color: #577f67
			color: #577f67
.filtration
	select
		margin: auto
		min-width: 17em
		border-radius: .25em
		appearance: none
		text-overflow: ''
		padding: 5px 10px
	.item
		h5
			font-weight: 500
			font-size: 16px
			line-height: 1.5
			text-transform: uppercase
			color: #577f67
		.custom-checkbox
			margin-left: 10px
			input
				visibility: hidden

			label
				position: relative
				padding-left: 0
				font-style: normal
				font-weight: 400
				font-size: 16px
				color: #000

			label::after
				content: ''
				width: 15px
				height: 15px
				position: absolute
				border: 2px solid #000
				bottom: 4px
				left: -22px
				border-radius: 50%
				box-shadow: 0px 0px 0px 2px #fff

			input[type=checkbox]:checked + label::before
				content: ''
				position: absolute
				width: 5px
				height: 15px
				border-width: 3px
				border-top-width: 0
				border-left-width: 0
				border-style: solid
				border-color: #577F67
				-webkit-transform: rotate(45deg)
				transform: rotate(42deg)
				top: 2px
				left: -14px
				z-index: 99

			input[type=checkbox]:checked + label span
				opacity: 1

.cart
	.cart-img
		width: 50px
		height: 50px
		box-shadow: none
	.name a
		color: #577f67
		text-decoration: none
		.name a::hover
			text-decoration: underline
	.button
		margin: 10px 15px
		padding: 0px 7px
		font-size: 20px
		background-color: white
		border-color: #577f67
		color: #577f67
	span
		padding: 0 10px
		color: #577f67
		font-weight: 500
	.total
		display: flex
		justify-content: right
@media (max-width: 890px)
	.title
		font-size: 32px
	header
		.header-main
			.logo
				font-size: 16px
			.form-control
				width: 200px
			.list-search
				width: 200px
				.link-search
					img
						width: 50px
						height: 50px
						display: inline-block
		.account-menu
			.account-menu__link
				.cart-amount
					display: none

	.welcome
		padding: 80px
	.category-list
		padding: 40px 0
		.list
			flex-wrap: wrap
	.product
		.card

			img
				height: max-content
			.card-title
				font-size: 12px
			.card-price
				font-size: 10px
			button
				font-size: 9px
	.product__item
		.titles
			font-size: 24px
		.price
			font-size: 18px

	.quest
		h2
			font-size: 20px

		p
			font-size: 14px

		.number
			font-size: 20px

		.quest-text
			font-size: 10px
