@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

$purple: #9900AB
body
	font-family: 'Montserrat', sans-serif
.title
	font-size: 2rem
	margin: 30px 0 20px
	font-weight: normal
	color: $purple
.button
	color: $purple
header
	background: #6ebaca4a
	nav
		display: flex
		justify-content: space-evenly
		position: relative

		.link__nav
			background-color: transparent
			border: 0
			color: $purple
			text-decoration: none
			cursor: pointer

form.form input[type='text']
	padding: 10px
	font-size: 16px
	width: 100%
	background: rgba(137, 59, 199, 0.19)
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25)
	border: none
	border-radius: 35px
	text-align: left
	color: $purple

/* Clear floats */
form.form::after
	content: ''
	clear: both
	display: table

.welcome
	padding: 100px 0
	.box__first
		background: #FFFFFF
		border: 1px solid #1D1A1A
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25)
		padding: 50px 25px
		position: relative
		left: 80px
		top: 80px
		z-index: 10
		h1
			font-weight: 400
			font-size: 48px
			letter-spacing: 0.07em
			text-transform: uppercase
			text-align: center
			color: $purple
		button
			font-weight: 400
			font-size: 32px
			letter-spacing: 0.07em
			text-transform: uppercase
			text-align: center
			color: $purple
			background: rgba(110, 186, 202, 0.35)
			border: 1px solid rgba(76, 37, 233, 0.35)
			margin: 0 auto
			display: block
			padding: 15px 30px
	.box__second
		img
			width: 100%
			position: relative
			z-index: 5
			right: 80px

.product
	.white__box
		background-color: #b8b8b8
		padding: 20px
		height: 120px
		text-align: center
		display: flex
		align-items: center
		justify-content: center
		border-radius: 10px
		img
			width: 100%
			max-height: 80px

	.info
		margin-top: 5px
		.title
			font-weight: 400
			font-size: 18px
			line-height: 18px
			color: $purple
			text-decoration: none
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
			// link
		.price__row
			display: block
			@media screen and (min-width: 768px)
				display: flex
				gap: 5px
				align-items: center
				justify-content: space-between
				margin-top: 2px
				.button
					border: 1px solid #3F747F
					border-radius: 2px
					outline: none
					cursor: pointer
					background: none
					display: flex
					justify-content: space-between
					width: 60%
					text-align: center
					img
						position: relative
						top: 2px
					.price
						font-style: normal
						font-weight: 400
						font-size: 18px
						color: #000000
						text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

.product__item
	padding: 50px 0
	.title
		font-style: normal
		font-weight: 400
		font-size: 32px
		line-height: 39px
		color: #000000
	img
		width: 400px
	.info
		border: 1px solid gray
